Package: libubootenv-dbgsym
Source: libubootenv
Version: 0.1.1-1
Auto-Built-Package: debug-symbols
Architecture: armhf
Maintainer: Jimmy Chen <jimmy.chen@moxa.com>
Installed-Size: 31
Depends: libubootenv (= 0.1.1-1)
Section: debug
Priority: extra
Homepage: http://www.moxa.com
Description: Debug symbols for libubootenv
Build-Ids: 0f18e195c8771daf2534c5e31856adf625d12c58 6f7eea796866228826b98e38e5318ca496a5c41a f9807869b73a538f8f1339acd32bacc1a329db54
